header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}



.site-nav,
.nav {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link,
.contacts__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;

  transition: color $duration $cubic, fill $duration $cubic;
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.contacts__icon {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link--current::after {
  position: absolute;
  display: block;
  content: '';

  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}